---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import type { GetStaticPaths } from "astro";
import { createClient } from "microcms-js-sdk";
import { getBlogs } from "../../library/microcms";
const { contents: posts } = await getBlogs({
	fields: ["id", "title", "publishedAt", "content", "category"],
});

export const getStaticPaths = (async ({ paginate }) => {
	const client = createClient({
		serviceDomain: import.meta.env.MICROCMS_SERVICE_DOMAIN,
		apiKey: import.meta.env.MICROCMS_API_KEY,
	});
	const posts = await client.getAllContents({
		endpoint: "blogs",
	});

	return paginate(posts, { pageSize: 5 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<!--現在のページ番号を表示します。Astro.params.pageも使用可能です！--><!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>{page.currentPage}ページ</h1>
			<ul>
				{
					posts.map((post) => (
						<li class="p-5 bg-white mb-3.5 rounded-lg shadow dark:bg-gray-900">
							<a href={`/blog/${post.id}`} class="block">
								{post.title}
							</a>
							<p class="flex items-center">
								<time datetime={post.publishedAt}>
									{new Date(
										post.publishedAt,
									).toLocaleDateString("ja-JP")}
								</time>
								<span class="p-1 bg-orange-400 text-white text-sm rounded-md ml-2">
									{post.category?.name}
								</span>
							</p>
							<span
								class="line-clamp-1 text-sm font-normal"
								set:html={post.content}
							/>
						</li>
					))
				}
			</ul>

			<nav>
				{page.url.prev && <a href={page.url.prev}>戻る</a>}
				{page.url.prev && page.url.next && <span class="mx-4">|</span>}
				{page.url.next && <a href={page.url.next}>進む</a>}
			</nav>
		</main>
		<Footer />
	</body>
</html>
