---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

// const posts = (await getCollection('blog')).sort(
// 	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
// );
//microCMS呼び出し
import { getBlogs } from "../../library/microcms";
const { contents: posts } = await getBlogs({ fields: ["id", "title", "publishedAt", "content", "category"] });
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<p class="">記事一覧</p>
				<ul>
					{
						posts.map((post) => (
							<li class="p-5 bg-white mb-3.5 rounded-lg shadow dark:bg-gray-900">
								<a href={`/blog/${post.id}`} class="block">
									{post.title}
								</a>
								<p class="flex items-center">
									<time datetime={post.publishedAt}>
										{new Date(
											post.publishedAt,
										).toLocaleDateString("ja-JP")}
									</time>
									<span class="p-1 bg-orange-400 text-white text-sm rounded-md ml-2">
										{post.category?.name}
									</span>
								</p>
								<span
									class="line-clamp-1 text-sm font-normal"
									set:html={post.content}
								/>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
