---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({
	fields: ["id", "title", "publishedAt", "content", "category"],
});
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="md:p-8 text-center text-pink-500">🐹 Hello World</h1>

			<div class="md:flex gap-10 items-start">
				<ul class="basis-2/3 mb-5 sm:mb-0">
					{
						posts.slice(0, 3).map((post) => (
							<li class="p-5 bg-white mb-3.5 rounded-lg shadow dark:bg-gray-900">
								<a href={`/blog/${post.id}`} class="block">
									{post.title}
								</a>
								<p class="flex items-center">
									<time datetime={post.publishedAt}>
										{new Date(
											post.publishedAt,
										).toLocaleDateString("ja-JP")}
									</time>
									<span class="p-1 bg-orange-400 text-white text-sm rounded-md ml-2">
										{post.category?.name}
									</span>
								</p>
								<span
									class="line-clamp-1 text-sm font-normal"
									set:html={post.content}
								/>
							</li>
						))
					}
					<a href="/blog" class="p-1 bg-yellow-400 block text-center rounded-full text-white shadow dark:bg-blue-900 m-auto w-48">MORE</a>
				</ul>
				<div class="p-5 bg-white shadow rounded-lg dark:bg-gray-900">
					<p class="text-3xl text-gray-900 dark:text-white">Profile</p>
					<div class="flex gap-5 items-center">
						<figure><img src="/gowa.jpg" /></figure>
						<div>
							<p class="text-lg"> Chisa</p>
							<p class="text-sm">
								フロントエンドエンジニア５ねんめ<br>
								特技：UFOキャッチャー
							</p>
						</div>
					</div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
